<div class="col-4"></div>
<div class="col-4">
    <div class="row"><img src="/assets/imgs/depositphotos_220068430-stock-illustration-404-error-found-tee-print.webp"
            alt="" width="300px"></div>
    <div class="row" style="justify-content: center;">
        <a class="btn btn-volver" href="/">Volver</a>
    </div>
</div>
<div class="col-4"></div>