<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-8
    ">
        <div class="card">
            <div class="card-header text-center bg-dark" data-bs-theme="dark">
                <h1 class="mb-3" style="color: white;">{{Series.titulo}}</h1>
            </div>

            <div class="card-body"><iframe width="800" height="360"
                    src="https://www.youtube.com/embed/{{Series.enlace}}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe></div>
        </div>
        <a class="btn btn-volver" href="/">Volver</a>
    </div>
</div>